header {
  border: 1px solid rgb(80, 155, 180);
  padding: 30px;
  text-align: center;
}

aside {
  border: 1px solid rgb(80, 155, 180);
  margin: 10px;
}

aside ul {
  margin: 5px 0;
  padding: 5px;
}

aside li {
  list-style: none;
  margin: 10px;
}

.container {
  border: 1px solid rgb(80, 155, 180);
  display: flex;
}

main {
  border: 1px solid rgb(80, 155, 180);
  padding: 5px;
  width: 1500px;
  margin: 10px;
}

.select-box-label {
  border-right: 3px solid rgb(80, 155, 180);
  margin: 0 5px 0 0;
}

.search-box {
  border: 1px solid rgb(80, 155, 180);
  border-radius: 5px;
  width: 470px;
}

#search-condition {
  border: none;
  border-radius: 10px;
  padding: 2px;
  outline: none;
}

#search-inupt-box {
  border: 0px;
  outline: none;
  text-align: center;
}

#paid-condition {
  border: none;
  border-radius: 10px;
  padding: 2px;
  outline: none;
}

button{
    border-radius: 4.5px;
    color: rgb(241, 241, 241);
    background-color: rgb(28, 146, 185);border: 1px solid rgb(28, 146, 185);
}

.btn:hover{
    background-color: rgb(19, 101, 128);
}

#search{
  margin: 3px 5px 3px 0px;
  border-radius: 4.5px;
  color: rgb(241, 241, 241);
  background-color: rgb(28, 146, 185);
  border: 1px solid rgb(28, 146, 185);
}


.title-box {
  border: 1px solid rgb(80, 155, 180);
  text-align: center;
  margin-top: 10px;
}

.dt-column-title {
  font-size: 14px;
}

#adtable th,
#adtable td {
  text-align: left;
  vertical-align: middle;
}

.details-btn {
  color: rgb(73, 69, 54);
  background-color: rgb(245, 221, 145);
  border-radius: 3px;
  border: 1px solid rgb(174, 153, 85);
}

/* ad details - css*/
.ad-details-box{
    border-top: 2px solid rgb(28, 146, 185);
    padding: 5px 0;
    display: none;
}

.ad-details{
    border: 1px solid rgb(28, 146, 185);
    text-align: center;
    margin: 3px 0;
}

#ad-details-table {
    width: 100%;
    border-collapse: collapse;
}
  
#ad-details-table th,
#ad-details-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
  
#ad-details-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    width: 30%; /* 讓欄位名稱佔30%寬度 */
}

.button-box{
    width:100%;
    text-align: center;
    margin-top: 10px;
}

.leave {
    margin: 0 0 0 30px;
}

.cancel {
  display: none;
}

.submit {
  display: none;
}

